@media screen and (max-width: 768px) {
  article {
    margin: 0 auto !important;
    padding: 0 !important;
  }
}
body {
  background-image: url(https://github.com/jcatekista/FSWebDev/blob/main/images/pxfuel.jpg?raw=true);
  width: 99%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-size: 60px;
  color: black;
  text-shadow: cadetblue 3px 3px;
  text-align: center;
  text-decoration: wavy;
}
.container {
  display: flex;
  background-color: whitesmoke;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  border-radius: 10px;
  z-index: 5;
  filter: opacity(85%);
}
.box1 {
  display: flex;
  background-color: cadetblue;
  padding: 5px 5px 5px 5px;
  border: lightgrey solid 2px;
  border-radius: 15px;
  width: 33%;
  z-index: 3;
  filter: opacity(80%);
  align-items: center;
  justify-content: center;
  text-align: center;
}
.box2 {
  display: flex;
  background-color: cadetblue;
  padding: 5px 5px 5px 5px;
  border: lightgrey solid 2px;
  border-radius: 15px;
  width: 100%;
  z-index: 3;
  filter: opacity(80%);
}
form {
  padding: 5px 5px 5px 5px;
}
